In [32]:
import pandas as pd
df = pd.read_csv('C:\\Users\\DELL\\Downloads\\tips.csv')
from sklearn.model_selection import train_test_split 
df=df.drop(columns = ['sex','smoker','time','day'] )
y = df['tip']  # Target data
x = df.drop(columns=['tip'])  # Input data
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)
np.round(x_train.describe() , 2) 
df.head(2)

   total_bill   tip  size
0       16.99  1.01     2
1       10.34  1.66     3

In [46]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train_sc = sc.fit_transform(x_train)
x_train_new = pd.DataFrame(x_train_sc , columns = x_train.columns) 
np.round(x_train_new.describe() , 2)

       total_bill    size
count      195.00  195.00
mean         0.00   -0.00
std          1.00    1.00
min         -1.65   -1.68
25%         -0.75   -0.61
50%         -0.26   -0.61
75%          0.53    0.45
max          3.50    3.65

In [40]:
#Normalisation
from sklearn.preprocessing import MinMaxScaler 
mn=MinMaxScaler()
x_train_mn = mn.fit_transform(x_train)   
x_train_new  = pd.DataFrame(x_train_mn , columns = x_train.columns) 
np.round(x_train_new.describe() , 2)

       total_bill    size
count      195.00  195.00
mean         0.32    0.31
std          0.19    0.19
min          0.00    0.00
25%          0.18    0.20
50%          0.27    0.20
75%          0.42    0.40
max          1.00    1.00

In [45]:
#LabelEncoder
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
df['total_bill'] = lb.fit_transform(df['total_bill'])
df['tip'] = lb.fit_transform(df['tip'])
df['size'] = lb.fit_transform(df['size'])

In [47]:
x = df.drop(columns = ['tip'] )

y = df['tip']

In [48]:
x_train_mn = mn.fit_transform(x_train)

In [50]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)
x_train_new

     total_bill  size
0      0.167111   0.2
1      0.411008   0.2
2      0.477807   0.2
3      0.576121   0.6
4      0.227031   0.2
..          ...   ...
190    0.327119   0.2
191    0.201509   0.2
192    0.000000   0.2
193    0.640923   0.2
194    0.855526   0.4

[195 rows x 2 columns]

In [51]:
np.round(x_train_new.describe() , 1)

       total_bill   size
count       195.0  195.0
mean          0.3    0.3
std           0.2    0.2
min           0.0    0.0
25%           0.2    0.2
50%           0.3    0.2
75%           0.4    0.4
max           1.0    1.0